/* styles.css ou no seu arquivo de estilos específico */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 50px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.logoimc {
  max-width: 100px;
  height: auto;
}

h1 {
  color: #333;
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

.form-control {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.calculate-btn {
  background-color: #fa2e00;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary {
  margin-top: 10px;
  text-decoration: none;
  padding: 10px;
  background-color: #95a5a6;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #7f8c8d;
}

.title{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: #333;

}

/* Adicione essas regras ao seu arquivo CSS */

.calculate-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.calculate-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
