<!-- home.component.html -->
<div class="container">
  <div class="header">
    <img class="logoimc" src="./../../assets/NEXUS-IMC-LOGO02.png" alt="Logo do Profissional">
    <h1 class="title">Calculadora de IMC</h1>
  </div>
  <div class="content">
    <form (ngSubmit)="calculateIMC()">
      <label for="patientName">Nome do Paciente:</label>
      <input type="text" class="form-control" name="patientName" [(ngModel)]="patientName" required>

      <label for="weight">Peso (kg):</label>
      <input type="number" class="form-control" name="weight" [(ngModel)]="weight" required>

      <label for="height">Altura (m):</label>
      <input type="number" class="form-control" name="height" [(ngModel)]="height" required>

      <!-- Mensagem de erro para campos não preenchidos -->
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>

      <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="calculate-btn">Calcular IMC</button>
      </div>
    </form>
  </div>
</div>
